<!DOCTYPE html>
<html>
  <head>
    <title>EvilCronbot</title>
    <link href="http://fonts.googleapis.com/css?family=PT+Serif+Caption" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/assets/styles/base.css" />
  </head>
  <body>
    <div>
      <h1>Bow before the best Cronbot.</h1>
      <p>I am just a simple cronbot on the internet. The evil one.</p>
      <img src="/assets/images/steamboat-bender.png"  alt="Bender" class="logo"/>
    </div>
    <footer>
      <a href="http://theteam.co.uk">theTeam</a>
      <a href="http://at800x600.com/">Best viewed at800x600.com</a>
    </footer>
  </body>
</html>
